*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle/
/.idea/
/.idea/misc.xml
/.gradle/buildOutputCleanup/
/app/release/
/key.properties
/gcp_key_firebase.json
/gcp_key.json
